body {
    font:11pt/14pt "Arial", "Helvetica", "Tahoma", sans-serif;
    color:#333;
    width:100%;
}

.wrap {
    margin: 50px;
}

.table_about {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.table_about .light {
    font-weight: 400;
}

.table_about td {
    padding: 5px 15px;
    border: 1px solid #000;
}

.blocks {
    margin: 50px 0;
    border: 1px solid #000;
    width: 100%;
    float: left;
}

.blocks div {
    font-size: 100%;
    background: #000;
    width: 25%;
    height: 100px;
    float: left;
}

.blocks .clear {
    display: none;
}

.clear {
    clear: both;
}

.blocks div:nth-child(odd) {
    background: #ff0;
}

/*SignUp*/
#sign_up label {
    display: block;
    padding-top: 10px;
}

#last_name, #mail, #passwd {
    display: block;
    width: 100%;
}

.sign_up_form {
    width: 300px
}

.first_name,
.first_name input{
    width: 110px;
}

.first_name {
    float: left;
}

.last_name {
    width: 170px;
    margin-left: 130px;
}

.center_inl {
    width: 100%;
    text-align: center;
}

.btn-sbm {
    margin: 10px auto;
}
















